@model IndexViewModel

@using ICZProject.Models

@{
    ViewBag.Title = "Sprava projektov firmy";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to my page</h2>
    </div>
</div>