@model IndexViewModel

@using ICZProject.Models

@{
    ViewBag.Title = "Sprava projektov firmy";
}

<div class="row">
    <div class="col-md-12">
        <h4>Prosim zadajte heslo na pristup</h4>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.Partial("FormMessages")

    @Html.EditorFor(a => a.Password)
    <button type="submit">Overit</button>
}
