@foreach (var item in ViewContext.ViewData.ModelState)
{
    if (item.Value.Errors.Any())
    {
        <div class="row">
            <div class="col-md-12 text-danger">@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</div>
        </div>
    }
}

@if (!string.IsNullOrEmpty(ViewBag._SuccessMessage))
{
    <div class="row">
        <div class="col-md-12 text-success">@ViewBag._SuccessMessage</div>
    </div>
}